<?xml version="1.0" encoding="utf-8"?>
<robot name="leg_dobot_quad" xmlns:xacro="http://www.ros.org/wiki/xacro">
 <xacro:macro name="leg_dobot_quad" params="name hip_x hip_y x_sign y_sign" >
 <xacro:property name="PI" value="3.1415926535897931"/>

 <xacro:if value="${(x_sign == 1)}">
     <xacro:property name="roty" value="0"/>
 </xacro:if>
 <xacro:if value="${(x_sign == -1)}">
     <xacro:property name="roty" value="${PI}"/>
 </xacro:if>
 <xacro:if value="${(y_sign == 1)}">
     <xacro:property name="rotx" value="0"/>
 </xacro:if>
 <xacro:if value="${(y_sign == -1)}">
     <xacro:property name="rotx" value="${PI}"/>
 </xacro:if>

 <link name="link_${name}_hip">
   <inertial>
     <origin
       xyz="${-0.02418*x_sign} ${-0.01744*y_sign} 0.0"
       rpy="0 0 0"/>
     <mass
       value="0.05576"/>
     <inertia
       ixx="21.088E-06"
       ixy="${11.69E-06*x_sign*y_sign}"
       ixz="${0.0*x_sign}"
       iyy="52.90E-06"
       iyz="${0.0E-06*y_sign}"
       izz="50.03E-06"/>
   </inertial>
   <visual>
     <origin
       xyz="0 0 0"
       rpy="${rotx} ${roty} 0" />
     <geometry>
       <mesh
         filename="package://dobot_quad/meshes/hip.STL" scale="1 1 1"/>
     </geometry>
     <material name="">
       <color
         rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
     </material>
   </visual>
   <collision>
     <origin rpy="1.5708 0 0" xyz="0 ${0.08*y_sign} 0" />
     <geometry>
       <cylinder length="0.04" radius="0.048" />
     </geometry>
   </collision>
 </link>
<joint name="joint_${name}_abad" type="revolute">
   <origin xyz="${hip_x} ${hip_y} 0" rpy="0 0 0" />
   <parent
     link="link_trunk" />
   <child
     link="link_${name}_hip" />
   <axis
     xyz="1 0 0" />
   <limit
     lower="-0.6632"
     upper="0.6632"
     effort="23"
     velocity="21"/>
 </joint>
 <link
   name="link_${name}_thigh">
   <inertial>
   <origin
     xyz="${0.00144*x_sign} ${-0.04127*y_sign} -0.02940"
     rpy="0 0 0"/>
   <mass
     value="1.71551"/>
   <inertia
     ixx="10737.08420E-06"
     ixy="${-86.37171E-06*x_sign*y_sign}"
     ixz="${216.87284E-06*x_sign}"
     iyy="8548.74788E-06"
     iyz="${2131.25546E-06*y_sign}"
     izz="3618.27220E-06"/>
   </inertial>
   <visual>
     <origin
       xyz="0 0 0"
       rpy="0 0 0" />
    <!-- <geometry>
       <mesh filename="package://dobot_quad/meshes/thigh.STL" scale="1 ${1*y_sign} 1" />
     </geometry> -->
     <geometry>
       <xacro:if value="${(y_sign == 1)}">
        <mesh filename="package://dobot_quad/meshes/thigh_l.STL" scale="1 ${1*y_sign} 1" />
       </xacro:if>
       <xacro:if value="${(y_sign == -1)}">
       <mesh filename="package://dobot_quad/meshes/thigh_r.STL" scale="1 ${1*y_sign} 1" />
       </xacro:if>
     </geometry>
     <material name="">
       <color
         rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
     </material>
   </visual>
   <collision>
     <origin rpy="0 1.5708 0" xyz="0.0 0.0 -0.1075" />
     <geometry>
       <box size="0.215 0.04 0.06"/>
     </geometry>
   </collision>
 </link>
 <joint name="joint_${name}_thigh_pitch" type="revolute">
   <origin xyz="${0.0*x_sign}  ${0.08895*y_sign} 0.0" rpy="0 0 0" />
   <parent
     link="link_${name}_hip" />
   <child
     link="link_${name}_thigh" />
   <axis
     xyz="0 1 0" />
     <xacro:if value="${(x_sign == 1)}">
     <limit
       lower="-2.618"
       upper="2.618"
       effort="23"
       velocity="23"/>
     </xacro:if>
     <xacro:if value="${(x_sign == -1)}">
     <limit
       lower="-2.618"
       upper="2.618"
       effort="23"
       velocity="21"/>
     </xacro:if>
 </joint>
 <link name="link_${name}_calf">
   <inertial>
     <origin
       xyz="0.0 0.0 -0.1179"
       rpy="0 0 0" />
     <mass
       value="0.278" />
     <inertia
     ixx="2802.49E-06"
     ixy="0.465E-06"
     ixz="-0.476E-06"
     iyy="2813.548E-06"
     iyz="-1.741E-06"
     izz="65.866E-06" />
   </inertial>
   <visual>
     <origin
       xyz="0 0 0"
       rpy="0 0 0" />
     <geometry>
       <mesh
         filename="package://dobot_quad/meshes/calf.STL" scale="1 1 1" />
     </geometry>
     <material name="">
       <color
         rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
     </material>
   </visual>
   <collision>
     <origin rpy="0 0 0" xyz="0.0 0.0 -0.12" />
     <geometry>
       <cylinder length="0.25" radius="0.02"/>
     </geometry>
   </collision>
<!--   <collision>
     <origin rpy="0 0 0" xyz="0.018 0 -0.16" />
     <geometry>
       <cylinder length="0.065" radius="0.011" />
     </geometry>
   </collision>-->
 </link>
 <joint
   name="joint_${name}_calf_pitch"
   type="revolute">
   <origin xyz="0.0 0.0 -0.215" rpy="0 0 0"/>
   <parent
     link="link_${name}_thigh" />
   <child
     link="link_${name}_calf" />
   <axis
     xyz="0 1 0" />
   <limit
     lower="-2.53"
     upper="2.53"
     effort="55"
     velocity="21"/>
 </joint>
 <link
   name="link_${name}_foot">
   <inertial>
     <origin
       xyz="0 0 0"
       rpy="0 0 0" />
     <mass
       value="0.05" />
     <inertia
       ixx="9.6e-06"
       ixy="0"
       ixz="0"
       iyy="9.6e-06"
       iyz="0"
       izz="9.6e-06" />
   </inertial>
   <collision>
     <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
     <geometry>
       <sphere radius="0.032"/>
     </geometry>
   </collision>
 </link>
 <joint
   name="joint_${name}_foot"
   type="fixed">
   <origin
     xyz="0 0 -0.24"
     rpy="0 0 0" />
   <parent
     link="link_${name}_calf" />
   <child
     link="link_${name}_foot" />
   <axis
     xyz="0 0 0" />
 </joint>
 </xacro:macro>
</robot>
